<html>
    <head>
        <title>Routes</title>

        <style>
            .transit-option {
                max-width: 200px;
                border: 1px solid;
                margin: 10px;
            }

            .route-name {
                font-size: 20px;
                font-weight: bold;
            }

            ul {
                padding: 20px;
                margin: 0;
            }

            li {
                list-style: none outside none;
            }
        </style>

    </head>
    <body>

        <h3>Caltrain Arrival to 22nd St: {{ caltrain_arrival }} min</h3>

        {% for option in options %}
            <div class='transit-option'>
                <ul>
                    <li><span class='route-name'>Route: {{ option[0] }}</span></li>
                    <li>Arrival time: {{ option[2] }} min</li>
                    <li>Time to home: {{ option[1] }} min</li>
                </ul>
            </div>
        {% endfor %}
        
    </body>
</html>